@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --box-shadow: 2px 2px 2px 1px #888888;
  font-family: 'Nova Square', cursive, 'Times New Roman', Times, serif;
}

body {
  background-color: whitesmoke;
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  color: black;
  padding: 3vh;
  box-shadow: var(--box-shadow);
}

#leaderboard-link {
  color: White;
  background-color: black;
  padding: 10px;
  border: black;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

#leaderboard-link:hover {
  opacity: 0.7px;
  background-color: #888888;
}

#time {
  min-width: 85px;
  color: lightblue;
  font-weight: bolder;
}

#timeLeft {
  color: White;
  background-color: black;
  padding: 10px;
  border: black;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  font-size: 20px; 
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 80%;
  margin-top: 15vh;
  border: solid;
  border-width: 2px;
  padding: 5vw;
  border-radius: 30px;
  border-color: lightgray;
  box-shadow: var(--box-shadow)
}

#start-screen {
  display: inline;
  text-align: center;
}

.button {
  display: block;
  color: black;
  background-color: lightgrey;
  padding: 2vh;
  border-radius: 8px;
  border: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.inline-buttons {
  display: inline-flex;
}

.option-button {
  width: 100%;
  text-align: left;
  margin: 5px;
}

#result-div {
  display: none;
}

.inline-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#initials {
  width: 25%;
  margin: 8px;
  padding: 1vh;
}

#back-button {
  margin-right: 8px;
}

.highscore-list {
  padding-inline-start: 20px;
}

@media screen and (min-width: 850px) {
  .card {
    max-width: 680px;
  }
}