*, *::before, *::after {
  box-sizing: border-box;
  font-family: cursive, 'Times New Roman', Times, serif;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: content;
  align-items: center;
  background-color: antiquewhite;
}

.container {
  width: 800px;
  max-width:80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: flex, grid;
  grid-template-columns: repeat(2, auto);
  margin: 20px 0;
}

.btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
}